link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
table.table
  thead
    tr
      th(scope='col') Title
      th(scope='col') Price
      th(scope='col') Thumbnail
  tbody
    each product in array
      -var img= product.thumbnail
        tr
          td= product.title 
          td=  product.price
          td
            img(src= img style='max-width: 50px' alt='Image not found')
      
